<h1 class="text-xs-center">DRAFT PAGE</h1>

<table class="rwd-table">
  <tr>
    <th>Round</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td data-th="Round">1</td>
    <td data-th="Name">Blake Lively</td>
    <td data-th="Age">28</td>
  </tr>
  <tr>
    <td data-th="Round">2</td>
    <td data-th="Name">Kristen Bell</td>
    <td data-th="Age">36</td>
  </tr>
  <tr>
    <td data-th="Round">3</td>
    <td data-th="Name">Caity Lotz</td>
    <td data-th="Age">29</td>
  </tr>
  <tr>
    <td data-th="Round">4</td>
    <td data-th="Name">Amber Heard</td>
    <td data-th="Age">30</td>
  </tr>
</table>
